.heart-icon {
  font-size: 22px;
  .empty {
    display: block;
  }
  .plain {
    display: none;
  }
  &:hover .empty, &:active .empty {
    display: none;
  }
  &:hover .plain, &:active .plain {
    display: block;
  }
  &--gradient {
    background: linear-gradient($secondary-color, $primary-color);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}