/**
  Mixin
*/
@mixin flex($dir) {
  display: flex;
  flex-direction: $dir;
}

@mixin align-and-justify($align, $justify) {
  align-items: $align;
  justify-content: $justify;
}

@mixin width-height($width, $height) {
  width: $width;
  height: $height;
}


@mixin shadow-radius($boxShadow, $borderRadius) {
  box-shadow: $boxShadow;
  border-radius: $borderRadius;
}