/** 
  Index
*/
$primary-color: #9356DC;
$secondary-color: #FF79DA;
$tertiary-color: #99E2D0;
$white-color: #ffffff;
$black-color: #101010;
$grey-2-color: #EAEAEA;
$grey-light-color: #F6F6F6;
$grey-tint-2-color: #7E7E7E;
$darken-grey-color: #353535;
$darken-green-color: #008766;

$logo-title-font-family: Shrikhand;
$text-font-family: Roboto;

$logo-font-size: 1.875em; // 30px

$section-title-font-size: 1.5em; // 24px

$menu-title-font-size: 1.125em; // 18px
$menu-subtitle-font-size: 1.06em; // 17px

$paragraph-font-size: 1.125em; // 18px

$button-font-size: 1em; // 16px ==> regular

$new-font-size: 0.875em; // 14px

$footer-title-font-size: 1.125em; // 18px

/**
  Restaurants
*/
$restaurant-name-font-size: 1.75em; // 28px

$menu-section-font-size: 1em;// 16px regular size = h4

$dish-title-font-size: 1.125em; // 18px
$dish-subtitle-font-size: 0.94;// 15px

/**
  Breakpoints
*/
$breakpoints: (
  'large': 1080px
) !default;