/**
  Footer
*/
.footer-container {
  @include flex(column);
  background-color: $darken-grey-color;
  color: $white-color;    
  padding: 22px 25px;
  gap: 16px;

  @media (min-width: map-get($breakpoints, large)) {
    @include flex(row);
    flex-direction: row-reverse;
  }

  & > h3 {
    font: {
      family: $logo-title-font-family;
      size: $footer-title-font-size;
      style: italic;
    }
  }
  &__list {
    @include flex(column);
    gap: 7px;
    list-style-type: none;

    @media (min-width: map-get($breakpoints, large)) {
      @include flex(row);
      gap: 7px;
    }

    li {
      color: $white-color;
      font-weight: 500;
    }
    .m-r {
      margin-right: 12px;
    }
  }
}

@media (min-width: map-get($breakpoints, large)) {
  .footer-li-large {
    display: inline-block;
    width: 168px;
  }
  .footer-li-small {
    display: block;
    width: 130px;
  }
}