@import "style.css";

$restaurant-name-font-size: 1.75em; // 28px

$menu-section-font-size: 1em;// 16px regular size = h4

$dish-title-font-size: 1.125em; // 18px
$dish-subtitle-font-size: 0.94;// 15px

h2 {
  font-size: $restaurant-name-font-size;
}

h3 {
  font-size: $dish-title-font-size;
}