/** 
  Variables
*/
$primary-color: #9356DC;
$secondary-color: #FF79DA;
$tertiary-color: #99E2D0;
$btn-text-color: #ffffff;
// $darken-green-color: #008766;
$black-color: #101010;
$grey-2-color: #EAEAEA;
$darken-grey-color: #353535;

$logo-title-font-family: Shrikhand;
$text-font-family: Roboto;

$logo-font-size: 1.875em; // 30px
// $big-title-size: 2.5em; // 40px

$section-title-font-size: 1.5em; // 24px

$menu-title-font-size: 1.125em; // 18px
$menu-subtitle-font-size: 1.06em; // 17px

$paragraph-font-size: 1.125em; // 18px

$button-font-size: 1em; // 16px ==> regular

/**
  Classes
*/
.m-0 {
  margin: 0;
}

.p-0 {
  padding: 0;
}

/**
  Mixin
*/
@mixin darken-green {
  color: darken($tertiary-color, 41%);
  // color: $darken-green-color;
}

@mixin draken-grey {
  color: $darken-grey-color;
}

@mixin light {
  font-weight: 300;
}

@mixin bolder {
  font-weight: 500;
}

@mixin bold {
  font-weight: 700;
}

@mixin flex($dir) {
  display: flex;
  flex-direction: $dir;
}

@mixin align-and-justify-center {
  align-items: center;
  justify-content: center;
}

@mixin width-height-line($width, $height, $line) {
  width: $width;
  height: $height;
  line-height: $line;
}

/**
  Tags
*/
body {
  font-family: $text-font-family;
}

h3 {
  font-size: $menu-title-font-size;
}

/**
  Common
*/
.btn {
  @include bolder;
  font-size: $button-font-size;
  background: linear-gradient($secondary-color, $primary-color);
  color: $btn-text-color;
  border-radius: 25px;
  border: none;
}

/**
  Header
*/
.header {
  @include flex(column);
  @include align-and-justify-center;
  h1 {
    font-family: $logo-title-font-family;
    font-size: $logo-font-size;
    color: $black-color;
    font-style: italic;
    padding: 14px 0;
  }

  &__location-container {
    @include flex(row);
    @include align-and-justify-center;
    @include draken-grey;
    width: 100%;
    background-color: $grey-2-color;

    & > .icon-container {
      @include width-height-line(12px, 16px, 18.75);
      display: flex;
      padding-right: 17px;
    }
  }
}

/**
  Description
*/
.description {
  text-align: center;
  padding: 39px 0 57px 0;
  h2 {
    @include width-height-line(275px, 68px, 28.13px);
    margin: auto;
  }
  .paragraph {
    @include draken-grey;
    @include light;
    font-size: $paragraph-font-size;
    margin: auto;
    margin-bottom: 27px;
    width: 315px;
  }
  &__btn {
    @include bolder;
    width: 218px;
    height: 50px;
  }
}