/** 
  Index
*/
/**
  Restaurants
*/
/**
  Breakpoints
*/
/**
  Mixin
*/
html {
  box-sizing: border-box;
}

body {
  margin: 0;
}

h1 {
  font-family: Shrikhand;
  font-size: 1.875em;
  font-style: italic;
  color: #101010;
  padding: 14px 0;
}

a {
  text-decoration: none;
  color: #101010;
}

.m-0 {
  margin: 0;
}

.p-0 {
  padding: 0;
}

.light {
  font-weight: 300;
}

.bolderer {
  font-weight: 400;
}

.bolder {
  font-weight: 500;
}

.bold {
  font-weight: 700;
}

body {
  font-family: Roboto;
}

h3 {
  font-size: 1.125em;
}

.restaurant-name {
  font-family: Shrikhand;
  font-size: 1.75em;
}

.dish-title {
  font-size: 1.125em;
}

/**
  Common
*/
.btn {
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  font-size: 1em;
  background: linear-gradient(#FF79DA, #9356DC);
  color: #ffffff;
  border: none;
  position: relative;
  z-index: 1;
}
.btn:hover::after {
  opacity: 1;
}
.btn::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  border-radius: 25px;
  opacity: 0;
  z-index: -1;
  transition: opacity 200ms;
  background: linear-gradient(#ff83dd, #985ede);
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.6);
}

.heart-container {
  width: 22px;
  height: 22px;
  font-size: 22px;
}
.heart-container .heart-empty {
  position: absolute;
}
.heart-container .heart-plain {
  position: absolute;
  opacity: 0;
  background: linear-gradient(#FF79DA, #9356DC);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.heart-container .heart-plain:hover {
  animation: show-hide 300ms 50ms forwards;
}

@keyframes show-hide {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes color-heart {
  0% {
    transform: scaleY(0);
  }
  100% {
    transform: scaleY(1);
  }
}
.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.justify-center {
  justify-content: center;
}

/**
  Header
*/
.header {
  align-items: center;
}

/**
  Footer
*/
.footer-container {
  display: flex;
  flex-direction: column;
  background-color: #353535;
  color: #ffffff;
  padding: 22px 25px;
  gap: 16px;
}
@media (min-width: 900px) {
  .footer-container {
    display: flex;
    flex-direction: row;
    flex-direction: row-reverse;
    box-sizing: border-box;
    height: 114px;
    align-items: end;
    padding: 30px 25px;
  }
}
.footer-container > h3 {
  font-family: Shrikhand;
  font-size: 1.125em;
  font-style: italic;
}
.footer-container__list {
  display: flex;
  flex-direction: column;
  gap: 7px;
  list-style-type: none;
}
@media (min-width: 900px) {
  .footer-container__list {
    display: flex;
    flex-direction: row;
    gap: 7px;
  }
}
.footer-container__list li {
  font-weight: 500;
}
.footer-container__list li a {
  color: #ffffff;
}
.footer-container__list li .rotate {
  transform: rotate(-45deg);
}
.footer-container__list .m-r {
  margin-right: 12px;
}

@media (min-width: 900px) {
  .footer-li-large {
    display: inline-block;
    width: 168px;
  }
  .footer-li-small {
    display: block;
    width: 130px;
  }
}
.delayed-container {
  animation: show-hide 0ms 2100ms both;
  position: relative;
}

.spinner-container .spinner {
  animation: showhide-content 0ms 2100ms forwards;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 100px;
  aspect-ratio: 1/1;
  display: grid;
  opacity: 0.8;
}
.spinner-container .spinner::before,
.spinner-container .spinner::after {
  content: "";
  grid-area: 1/1;
  background: radial-gradient(closest-side, #9356DC 96%, rgba(255, 0, 0, 0)) 50% 0%/8px 8px no-repeat, radial-gradient(closest-side, #FF79DA 96%, rgba(0, 0, 255, 0)) 50% 100%/8px 8px no-repeat, radial-gradient(closest-side, #9356DC 96%, rgba(255, 0, 0, 0)) 100% 50%/8px 8px no-repeat, radial-gradient(closest-side, #FF79DA 96%, rgba(0, 0, 255, 0)) 0% 50%/8px 8px no-repeat;
  animation: spinner 1000ms infinite, showhide-content 0ms 3100ms forwards;
}
.spinner-container .spinner::before {
  background-size: 12px 12px;
  animation-timing-function: linear;
}
@keyframes spinner {
  100% {
    transform: rotate(0.5turn);
  }
}
@keyframes show-hide {
  0% {
    opacity: 0.2;
    z-index: -1;
  }
  100% {
    opacity: 1;
    z-index: 1;
  }
}
@keyframes showhide-content {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-9999px);
    z-index: 0;
  }
}

.location-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  color: #353535;
  background-color: #EAEAEA;
}
.location-container > .icon-container {
  width: 12px;
  height: 16px;
  line-height: 18.75px;
  display: flex;
  padding-right: 17px;
}
.location-container > input {
  border: none;
  background-color: inherit;
  padding: 15px 0;
}
.location-container > input:focus {
  outline: none;
}

/**
  Description section
*/
.description {
  text-align: center;
  padding: 39px 0 57px 0;
  background-color: #F6F6F6;
}
@media (min-width: 1440px) {
  .description {
    padding: 30px 0;
  }
}
.description h2 {
  width: 275px;
  height: 68px;
  line-height: 28.13px;
  margin: auto;
}
@media (min-width: 900px) {
  .description h2 {
    width: 100%;
    height: auto;
  }
}
.description > .paragraph {
  color: #353535;
  font-size: 1.125em;
  margin: auto;
  margin-bottom: 27px;
  width: 315px;
}
@media (min-width: 900px) {
  .description > .paragraph {
    width: 100%;
    height: auto;
    margin: 18px auto;
  }
}
.description__btn {
  width: 218px;
  height: 50px;
}

/**
  Functioning section
*/
.functioning {
  display: flex;
  flex-direction: column;
  padding: 48px 0 68px 0;
}
@media (min-width: 1440px) {
  .functioning {
    padding: 50px 180px;
  }
}
.functioning__title {
  margin-left: 20px;
}
.functioning__cards {
  margin: 0 20px 0 26px;
}
@media (min-width: 900px) {
  .functioning__cards {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }
}
@media (min-width: 1440px) {
  .functioning__cards {
    display: flex;
    flex-direction: row;
    gap: 36px;
  }
}
.functioning__cards .card {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 72px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  margin-top: 25px;
  background-color: #F6F6F6;
  align-items: center;
  box-sizing: border-box;
  position: relative;
}
.functioning__cards .card__order {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  position: absolute;
  top: calc(50% - 12px);
  left: -12px;
  background-color: #9356DC;
  border: 1px solid #9356DC;
  border-radius: 50%;
  color: white;
}
.functioning__cards .card__icon {
  margin: 0 27px 0 33px;
  color: #7E7E7E;
}
.functioning__cards .card__icon--purple {
  color: #9356DC;
}

/**
  Restaurants section
*/
.restaurants {
  display: flex;
  flex-direction: column;
  background-color: #F6F6F6;
  padding: 54px 18px 64px 18px;
}
@media (min-width: 1440px) {
  .restaurants {
    padding: 30px 180px;
  }
}
.restaurants__cards {
  display: flex;
  flex-direction: column;
}
@media (min-width: 900px) {
  .restaurants__cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 20px;
    -moz-column-gap: 50px;
         column-gap: 50px;
  }
}
@media (min-width: 1440px) {
  .restaurants__cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 50px;
    -moz-column-gap: 100px;
         column-gap: 100px;
  }
}
.restaurants__cards .card {
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  border-radius: 15px;
  margin-top: 25px;
  height: 251px;
}
.restaurants__cards .card__img-container {
  position: relative;
}
.restaurants__cards .card__img-container__new-tag {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 29px;
  font-size: 0.875em;
  color: #008766;
  position: absolute;
  right: 10px;
  top: 10px;
  background-color: #99E2D0;
}
.restaurants__cards .card__img-container__img {
  width: 100%;
  height: 174px;
  max-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 100% 60%;
     object-position: 100% 60%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.restaurants__cards .card__text-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 16px 25px 12px 13px;
}
.restaurants__cards .card__text-container > p {
  font-size: 1.06em;
}

.logo {
  align-items: center;
  justify-content: center;
}

.header__back-nav {
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  padding-left: 17px;
  margin-right: 42px;
}
@media (min-width: 1440px) {
  .header__back-nav {
    margin-right: 0;
  }
}

@media (min-width: 1440px) {
  .header__title {
    margin: auto;
  }
}

.img-restaurant {
  width: 100%;
  height: 275px;
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (min-width: 1440px) {
  .img-restaurant {
    height: 383px;
  }
}

.menu-container {
  width: 100%;
  overflow: hidden;
  background-color: #F6F6F6;
  margin-top: -58px;
  z-index: 2;
  position: relative;
  border-radius: 40px 40px 0 0;
}
@media (min-width: 900px) {
  .menu-container {
    margin: -58px 40px 0 40px;
    padding: 0 140px;
    width: auto;
  }
}
@media (min-width: 1440px) {
  .menu-container {
    margin: -58px 193px 0 193px;
    padding: 0 193px;
    width: auto;
  }
}
.menu-container h2 {
  padding-left: 17px;
}
.menu-container .menu {
  padding: 0 17px;
}
.menu-container .menu__title {
  align-items: center;
  justify-content: left;
  padding-top: 40px;
}
@media (min-width: 900px) {
  .menu-container .menu__title {
    justify-content: center;
  }
}
.menu-container .menu__title > h2 {
  margin-right: 30px;
}
.menu-container .menu .course--1 {
  margin-top: 40px;
}
.menu-container .menu .course--1__title {
  text-transform: uppercase;
}
.menu-container .menu .course--1__title--1 {
  animation: scale-menu 300ms 0ms backwards ease-in;
}
.menu-container .menu .course--1__title--2 {
  animation: scale-menu 300ms 0ms backwards ease-in;
}
.menu-container .menu .course--1__title--3 {
  animation: scale-menu 300ms 0ms backwards ease-in;
}
.menu-container .menu .course--1__title-line {
  width: 40px;
  margin-top: 10px;
  border-bottom: 3px solid #99E2D0;
}
.menu-container .menu .course--1__cards {
  position: relative;
}
.menu-container .menu .course--1__cards .card--1 {
  display: flex;
  flex-direction: row;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  margin-top: 12px;
  position: relative;
  opacity: 0;
  animation: translate-dish 800ms 200ms ease-in-out both, opak 800ms 900ms both;
}
.menu-container .menu .course--1__cards .card--1:hover .card--1__content__dish-price {
  transform: translateX(-59px);
  transition: transform 500ms ease-in-out;
}
.menu-container .menu .course--1__cards .card--1:hover .check {
  background-color: #99E2D0;
  transform: scaleX(1);
  width: 59px;
}
.menu-container .menu .course--1__cards .card--1:hover .check__icon {
  transform: rotate(-360deg);
}
.menu-container .menu .course--1__cards .card--1:hover .card--1__content__dish-text__subtitle {
  width: calc(100% - 65px);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu-container .menu .course--1__cards .card--1__content {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 15px;
  width: 100%;
  box-sizing: border-box;
}
.menu-container .menu .course--1__cards .card--1__content__dish-text {
  width: 90%;
}
.menu-container .menu .course--1__cards .card--1__content__dish-text__title {
  margin-bottom: 5px;
}
.menu-container .menu .course--1__cards .card--1__content__dish-text__subtitle {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu-container .menu .course--1__cards .card--1__content__dish-price {
  width: 10%;
  align-self: end;
  justify-content: end;
  color: #353535;
}
.menu-container .menu .course--1__cards .card--1 .check {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 0;
  height: 100%;
  transform: scaleX(0);
  transform-origin: right;
  transition: all 500ms ease-in-out;
  width: 0;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}
.menu-container .menu .course--1__cards .card--1 .check__icon {
  font-size: 20px;
  color: white;
  transform: rotate(0);
  transition: transform 500ms 100ms;
}
.menu-container .menu .course--1__cards .card--2 {
  display: flex;
  flex-direction: row;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  margin-top: 12px;
  position: relative;
  opacity: 0;
  animation: translate-dish 800ms 600ms ease-in-out both, opak 800ms 1300ms both;
}
.menu-container .menu .course--1__cards .card--2:hover .card--2__content__dish-price {
  transform: translateX(-59px);
  transition: transform 500ms ease-in-out;
}
.menu-container .menu .course--1__cards .card--2:hover .check {
  background-color: #99E2D0;
  transform: scaleX(1);
  width: 59px;
}
.menu-container .menu .course--1__cards .card--2:hover .check__icon {
  transform: rotate(-360deg);
}
.menu-container .menu .course--1__cards .card--2:hover .card--2__content__dish-text__subtitle {
  width: calc(100% - 65px);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu-container .menu .course--1__cards .card--2__content {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 15px;
  width: 100%;
  box-sizing: border-box;
}
.menu-container .menu .course--1__cards .card--2__content__dish-text {
  width: 90%;
}
.menu-container .menu .course--1__cards .card--2__content__dish-text__title {
  margin-bottom: 5px;
}
.menu-container .menu .course--1__cards .card--2__content__dish-text__subtitle {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu-container .menu .course--1__cards .card--2__content__dish-price {
  width: 10%;
  align-self: end;
  justify-content: end;
  color: #353535;
}
.menu-container .menu .course--1__cards .card--2 .check {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 0;
  height: 100%;
  transform: scaleX(0);
  transform-origin: right;
  transition: all 500ms ease-in-out;
  width: 0;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}
.menu-container .menu .course--1__cards .card--2 .check__icon {
  font-size: 20px;
  color: white;
  transform: rotate(0);
  transition: transform 500ms 100ms;
}
.menu-container .menu .course--1__cards .card--3 {
  display: flex;
  flex-direction: row;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  margin-top: 12px;
  position: relative;
  opacity: 0;
  animation: translate-dish 800ms 1000ms ease-in-out both, opak 800ms 1700ms both;
}
.menu-container .menu .course--1__cards .card--3:hover .card--3__content__dish-price {
  transform: translateX(-59px);
  transition: transform 500ms ease-in-out;
}
.menu-container .menu .course--1__cards .card--3:hover .check {
  background-color: #99E2D0;
  transform: scaleX(1);
  width: 59px;
}
.menu-container .menu .course--1__cards .card--3:hover .check__icon {
  transform: rotate(-360deg);
}
.menu-container .menu .course--1__cards .card--3:hover .card--3__content__dish-text__subtitle {
  width: calc(100% - 65px);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu-container .menu .course--1__cards .card--3__content {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 15px;
  width: 100%;
  box-sizing: border-box;
}
.menu-container .menu .course--1__cards .card--3__content__dish-text {
  width: 90%;
}
.menu-container .menu .course--1__cards .card--3__content__dish-text__title {
  margin-bottom: 5px;
}
.menu-container .menu .course--1__cards .card--3__content__dish-text__subtitle {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu-container .menu .course--1__cards .card--3__content__dish-price {
  width: 10%;
  align-self: end;
  justify-content: end;
  color: #353535;
}
.menu-container .menu .course--1__cards .card--3 .check {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 0;
  height: 100%;
  transform: scaleX(0);
  transform-origin: right;
  transition: all 500ms ease-in-out;
  width: 0;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}
.menu-container .menu .course--1__cards .card--3 .check__icon {
  font-size: 20px;
  color: white;
  transform: rotate(0);
  transition: transform 500ms 100ms;
}
.menu-container .menu .course--1__cards .card--4 {
  display: flex;
  flex-direction: row;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  margin-top: 12px;
  position: relative;
  opacity: 0;
  animation: translate-dish 800ms 1400ms ease-in-out both, opak 800ms 2100ms both;
}
.menu-container .menu .course--1__cards .card--4:hover .card--4__content__dish-price {
  transform: translateX(-59px);
  transition: transform 500ms ease-in-out;
}
.menu-container .menu .course--1__cards .card--4:hover .check {
  background-color: #99E2D0;
  transform: scaleX(1);
  width: 59px;
}
.menu-container .menu .course--1__cards .card--4:hover .check__icon {
  transform: rotate(-360deg);
}
.menu-container .menu .course--1__cards .card--4:hover .card--4__content__dish-text__subtitle {
  width: calc(100% - 65px);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu-container .menu .course--1__cards .card--4__content {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 15px;
  width: 100%;
  box-sizing: border-box;
}
.menu-container .menu .course--1__cards .card--4__content__dish-text {
  width: 90%;
}
.menu-container .menu .course--1__cards .card--4__content__dish-text__title {
  margin-bottom: 5px;
}
.menu-container .menu .course--1__cards .card--4__content__dish-text__subtitle {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu-container .menu .course--1__cards .card--4__content__dish-price {
  width: 10%;
  align-self: end;
  justify-content: end;
  color: #353535;
}
.menu-container .menu .course--1__cards .card--4 .check {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 0;
  height: 100%;
  transform: scaleX(0);
  transform-origin: right;
  transition: all 500ms ease-in-out;
  width: 0;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}
.menu-container .menu .course--1__cards .card--4 .check__icon {
  font-size: 20px;
  color: white;
  transform: rotate(0);
  transition: transform 500ms 100ms;
}
.menu-container .menu .course--2 {
  margin-top: 40px;
}
.menu-container .menu .course--2__title {
  text-transform: uppercase;
}
.menu-container .menu .course--2__title--1 {
  animation: scale-menu 300ms 0ms backwards ease-in;
}
.menu-container .menu .course--2__title--2 {
  animation: scale-menu 300ms 0ms backwards ease-in;
}
.menu-container .menu .course--2__title--3 {
  animation: scale-menu 300ms 0ms backwards ease-in;
}
.menu-container .menu .course--2__title-line {
  width: 40px;
  margin-top: 10px;
  border-bottom: 3px solid #99E2D0;
}
.menu-container .menu .course--2__cards {
  position: relative;
}
.menu-container .menu .course--2__cards .card--1 {
  display: flex;
  flex-direction: row;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  margin-top: 12px;
  position: relative;
  opacity: 0;
  animation: translate-dish 800ms 200ms ease-in-out both, opak 800ms 900ms both;
}
.menu-container .menu .course--2__cards .card--1:hover .card--1__content__dish-price {
  transform: translateX(-59px);
  transition: transform 500ms ease-in-out;
}
.menu-container .menu .course--2__cards .card--1:hover .check {
  background-color: #99E2D0;
  transform: scaleX(1);
  width: 59px;
}
.menu-container .menu .course--2__cards .card--1:hover .check__icon {
  transform: rotate(-360deg);
}
.menu-container .menu .course--2__cards .card--1:hover .card--1__content__dish-text__subtitle {
  width: calc(100% - 65px);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu-container .menu .course--2__cards .card--1__content {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 15px;
  width: 100%;
  box-sizing: border-box;
}
.menu-container .menu .course--2__cards .card--1__content__dish-text {
  width: 90%;
}
.menu-container .menu .course--2__cards .card--1__content__dish-text__title {
  margin-bottom: 5px;
}
.menu-container .menu .course--2__cards .card--1__content__dish-text__subtitle {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu-container .menu .course--2__cards .card--1__content__dish-price {
  width: 10%;
  align-self: end;
  justify-content: end;
  color: #353535;
}
.menu-container .menu .course--2__cards .card--1 .check {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 0;
  height: 100%;
  transform: scaleX(0);
  transform-origin: right;
  transition: all 500ms ease-in-out;
  width: 0;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}
.menu-container .menu .course--2__cards .card--1 .check__icon {
  font-size: 20px;
  color: white;
  transform: rotate(0);
  transition: transform 500ms 100ms;
}
.menu-container .menu .course--2__cards .card--2 {
  display: flex;
  flex-direction: row;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  margin-top: 12px;
  position: relative;
  opacity: 0;
  animation: translate-dish 800ms 600ms ease-in-out both, opak 800ms 1300ms both;
}
.menu-container .menu .course--2__cards .card--2:hover .card--2__content__dish-price {
  transform: translateX(-59px);
  transition: transform 500ms ease-in-out;
}
.menu-container .menu .course--2__cards .card--2:hover .check {
  background-color: #99E2D0;
  transform: scaleX(1);
  width: 59px;
}
.menu-container .menu .course--2__cards .card--2:hover .check__icon {
  transform: rotate(-360deg);
}
.menu-container .menu .course--2__cards .card--2:hover .card--2__content__dish-text__subtitle {
  width: calc(100% - 65px);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu-container .menu .course--2__cards .card--2__content {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 15px;
  width: 100%;
  box-sizing: border-box;
}
.menu-container .menu .course--2__cards .card--2__content__dish-text {
  width: 90%;
}
.menu-container .menu .course--2__cards .card--2__content__dish-text__title {
  margin-bottom: 5px;
}
.menu-container .menu .course--2__cards .card--2__content__dish-text__subtitle {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu-container .menu .course--2__cards .card--2__content__dish-price {
  width: 10%;
  align-self: end;
  justify-content: end;
  color: #353535;
}
.menu-container .menu .course--2__cards .card--2 .check {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 0;
  height: 100%;
  transform: scaleX(0);
  transform-origin: right;
  transition: all 500ms ease-in-out;
  width: 0;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}
.menu-container .menu .course--2__cards .card--2 .check__icon {
  font-size: 20px;
  color: white;
  transform: rotate(0);
  transition: transform 500ms 100ms;
}
.menu-container .menu .course--2__cards .card--3 {
  display: flex;
  flex-direction: row;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  margin-top: 12px;
  position: relative;
  opacity: 0;
  animation: translate-dish 800ms 1000ms ease-in-out both, opak 800ms 1700ms both;
}
.menu-container .menu .course--2__cards .card--3:hover .card--3__content__dish-price {
  transform: translateX(-59px);
  transition: transform 500ms ease-in-out;
}
.menu-container .menu .course--2__cards .card--3:hover .check {
  background-color: #99E2D0;
  transform: scaleX(1);
  width: 59px;
}
.menu-container .menu .course--2__cards .card--3:hover .check__icon {
  transform: rotate(-360deg);
}
.menu-container .menu .course--2__cards .card--3:hover .card--3__content__dish-text__subtitle {
  width: calc(100% - 65px);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu-container .menu .course--2__cards .card--3__content {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 15px;
  width: 100%;
  box-sizing: border-box;
}
.menu-container .menu .course--2__cards .card--3__content__dish-text {
  width: 90%;
}
.menu-container .menu .course--2__cards .card--3__content__dish-text__title {
  margin-bottom: 5px;
}
.menu-container .menu .course--2__cards .card--3__content__dish-text__subtitle {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu-container .menu .course--2__cards .card--3__content__dish-price {
  width: 10%;
  align-self: end;
  justify-content: end;
  color: #353535;
}
.menu-container .menu .course--2__cards .card--3 .check {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 0;
  height: 100%;
  transform: scaleX(0);
  transform-origin: right;
  transition: all 500ms ease-in-out;
  width: 0;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}
.menu-container .menu .course--2__cards .card--3 .check__icon {
  font-size: 20px;
  color: white;
  transform: rotate(0);
  transition: transform 500ms 100ms;
}
.menu-container .menu .course--2__cards .card--4 {
  display: flex;
  flex-direction: row;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  margin-top: 12px;
  position: relative;
  opacity: 0;
  animation: translate-dish 800ms 1400ms ease-in-out both, opak 800ms 2100ms both;
}
.menu-container .menu .course--2__cards .card--4:hover .card--4__content__dish-price {
  transform: translateX(-59px);
  transition: transform 500ms ease-in-out;
}
.menu-container .menu .course--2__cards .card--4:hover .check {
  background-color: #99E2D0;
  transform: scaleX(1);
  width: 59px;
}
.menu-container .menu .course--2__cards .card--4:hover .check__icon {
  transform: rotate(-360deg);
}
.menu-container .menu .course--2__cards .card--4:hover .card--4__content__dish-text__subtitle {
  width: calc(100% - 65px);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu-container .menu .course--2__cards .card--4__content {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 15px;
  width: 100%;
  box-sizing: border-box;
}
.menu-container .menu .course--2__cards .card--4__content__dish-text {
  width: 90%;
}
.menu-container .menu .course--2__cards .card--4__content__dish-text__title {
  margin-bottom: 5px;
}
.menu-container .menu .course--2__cards .card--4__content__dish-text__subtitle {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu-container .menu .course--2__cards .card--4__content__dish-price {
  width: 10%;
  align-self: end;
  justify-content: end;
  color: #353535;
}
.menu-container .menu .course--2__cards .card--4 .check {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 0;
  height: 100%;
  transform: scaleX(0);
  transform-origin: right;
  transition: all 500ms ease-in-out;
  width: 0;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}
.menu-container .menu .course--2__cards .card--4 .check__icon {
  font-size: 20px;
  color: white;
  transform: rotate(0);
  transition: transform 500ms 100ms;
}
.menu-container .menu .course--3 {
  margin-top: 40px;
}
.menu-container .menu .course--3__title {
  text-transform: uppercase;
}
.menu-container .menu .course--3__title--1 {
  animation: scale-menu 300ms 0ms backwards ease-in;
}
.menu-container .menu .course--3__title--2 {
  animation: scale-menu 300ms 0ms backwards ease-in;
}
.menu-container .menu .course--3__title--3 {
  animation: scale-menu 300ms 0ms backwards ease-in;
}
.menu-container .menu .course--3__title-line {
  width: 40px;
  margin-top: 10px;
  border-bottom: 3px solid #99E2D0;
}
.menu-container .menu .course--3__cards {
  position: relative;
}
.menu-container .menu .course--3__cards .card--1 {
  display: flex;
  flex-direction: row;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  margin-top: 12px;
  position: relative;
  opacity: 0;
  animation: translate-dish 800ms 200ms ease-in-out both, opak 800ms 900ms both;
}
.menu-container .menu .course--3__cards .card--1:hover .card--1__content__dish-price {
  transform: translateX(-59px);
  transition: transform 500ms ease-in-out;
}
.menu-container .menu .course--3__cards .card--1:hover .check {
  background-color: #99E2D0;
  transform: scaleX(1);
  width: 59px;
}
.menu-container .menu .course--3__cards .card--1:hover .check__icon {
  transform: rotate(-360deg);
}
.menu-container .menu .course--3__cards .card--1:hover .card--1__content__dish-text__subtitle {
  width: calc(100% - 65px);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu-container .menu .course--3__cards .card--1__content {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 15px;
  width: 100%;
  box-sizing: border-box;
}
.menu-container .menu .course--3__cards .card--1__content__dish-text {
  width: 90%;
}
.menu-container .menu .course--3__cards .card--1__content__dish-text__title {
  margin-bottom: 5px;
}
.menu-container .menu .course--3__cards .card--1__content__dish-text__subtitle {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu-container .menu .course--3__cards .card--1__content__dish-price {
  width: 10%;
  align-self: end;
  justify-content: end;
  color: #353535;
}
.menu-container .menu .course--3__cards .card--1 .check {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 0;
  height: 100%;
  transform: scaleX(0);
  transform-origin: right;
  transition: all 500ms ease-in-out;
  width: 0;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}
.menu-container .menu .course--3__cards .card--1 .check__icon {
  font-size: 20px;
  color: white;
  transform: rotate(0);
  transition: transform 500ms 100ms;
}
.menu-container .menu .course--3__cards .card--2 {
  display: flex;
  flex-direction: row;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  margin-top: 12px;
  position: relative;
  opacity: 0;
  animation: translate-dish 800ms 600ms ease-in-out both, opak 800ms 1300ms both;
}
.menu-container .menu .course--3__cards .card--2:hover .card--2__content__dish-price {
  transform: translateX(-59px);
  transition: transform 500ms ease-in-out;
}
.menu-container .menu .course--3__cards .card--2:hover .check {
  background-color: #99E2D0;
  transform: scaleX(1);
  width: 59px;
}
.menu-container .menu .course--3__cards .card--2:hover .check__icon {
  transform: rotate(-360deg);
}
.menu-container .menu .course--3__cards .card--2:hover .card--2__content__dish-text__subtitle {
  width: calc(100% - 65px);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu-container .menu .course--3__cards .card--2__content {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 15px;
  width: 100%;
  box-sizing: border-box;
}
.menu-container .menu .course--3__cards .card--2__content__dish-text {
  width: 90%;
}
.menu-container .menu .course--3__cards .card--2__content__dish-text__title {
  margin-bottom: 5px;
}
.menu-container .menu .course--3__cards .card--2__content__dish-text__subtitle {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu-container .menu .course--3__cards .card--2__content__dish-price {
  width: 10%;
  align-self: end;
  justify-content: end;
  color: #353535;
}
.menu-container .menu .course--3__cards .card--2 .check {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 0;
  height: 100%;
  transform: scaleX(0);
  transform-origin: right;
  transition: all 500ms ease-in-out;
  width: 0;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}
.menu-container .menu .course--3__cards .card--2 .check__icon {
  font-size: 20px;
  color: white;
  transform: rotate(0);
  transition: transform 500ms 100ms;
}
.menu-container .menu .course--3__cards .card--3 {
  display: flex;
  flex-direction: row;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  margin-top: 12px;
  position: relative;
  opacity: 0;
  animation: translate-dish 800ms 1000ms ease-in-out both, opak 800ms 1700ms both;
}
.menu-container .menu .course--3__cards .card--3:hover .card--3__content__dish-price {
  transform: translateX(-59px);
  transition: transform 500ms ease-in-out;
}
.menu-container .menu .course--3__cards .card--3:hover .check {
  background-color: #99E2D0;
  transform: scaleX(1);
  width: 59px;
}
.menu-container .menu .course--3__cards .card--3:hover .check__icon {
  transform: rotate(-360deg);
}
.menu-container .menu .course--3__cards .card--3:hover .card--3__content__dish-text__subtitle {
  width: calc(100% - 65px);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu-container .menu .course--3__cards .card--3__content {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 15px;
  width: 100%;
  box-sizing: border-box;
}
.menu-container .menu .course--3__cards .card--3__content__dish-text {
  width: 90%;
}
.menu-container .menu .course--3__cards .card--3__content__dish-text__title {
  margin-bottom: 5px;
}
.menu-container .menu .course--3__cards .card--3__content__dish-text__subtitle {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu-container .menu .course--3__cards .card--3__content__dish-price {
  width: 10%;
  align-self: end;
  justify-content: end;
  color: #353535;
}
.menu-container .menu .course--3__cards .card--3 .check {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 0;
  height: 100%;
  transform: scaleX(0);
  transform-origin: right;
  transition: all 500ms ease-in-out;
  width: 0;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}
.menu-container .menu .course--3__cards .card--3 .check__icon {
  font-size: 20px;
  color: white;
  transform: rotate(0);
  transition: transform 500ms 100ms;
}
.menu-container .menu .course--3__cards .card--4 {
  display: flex;
  flex-direction: row;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  margin-top: 12px;
  position: relative;
  opacity: 0;
  animation: translate-dish 800ms 1400ms ease-in-out both, opak 800ms 2100ms both;
}
.menu-container .menu .course--3__cards .card--4:hover .card--4__content__dish-price {
  transform: translateX(-59px);
  transition: transform 500ms ease-in-out;
}
.menu-container .menu .course--3__cards .card--4:hover .check {
  background-color: #99E2D0;
  transform: scaleX(1);
  width: 59px;
}
.menu-container .menu .course--3__cards .card--4:hover .check__icon {
  transform: rotate(-360deg);
}
.menu-container .menu .course--3__cards .card--4:hover .card--4__content__dish-text__subtitle {
  width: calc(100% - 65px);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu-container .menu .course--3__cards .card--4__content {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 15px;
  width: 100%;
  box-sizing: border-box;
}
.menu-container .menu .course--3__cards .card--4__content__dish-text {
  width: 90%;
}
.menu-container .menu .course--3__cards .card--4__content__dish-text__title {
  margin-bottom: 5px;
}
.menu-container .menu .course--3__cards .card--4__content__dish-text__subtitle {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu-container .menu .course--3__cards .card--4__content__dish-price {
  width: 10%;
  align-self: end;
  justify-content: end;
  color: #353535;
}
.menu-container .menu .course--3__cards .card--4 .check {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 0;
  height: 100%;
  transform: scaleX(0);
  transform-origin: right;
  transition: all 500ms ease-in-out;
  width: 0;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}
.menu-container .menu .course--3__cards .card--4 .check__icon {
  font-size: 20px;
  color: white;
  transform: rotate(0);
  transition: transform 500ms 100ms;
}
.menu-container__btn-container {
  align-items: center;
  justify-content: center;
}
.menu-container__btn-container__btn {
  padding: 15px 48px;
  margin: 40px 0;
}

@keyframes scale-menu {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}
@keyframes translate-dish {
  0% {
    transform: translateY(9999px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes opak {
  100% {
    opacity: 1;
  }
}/*# sourceMappingURL=main.css.map */